.profile {
    max-width: 1200px;
    display: flex;  
    flex-flow: row wrap;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
}

.profile > * {
    padding: 10px;
    flex: 1 100%;
}

.details {
   background-color: rgb(50, 50, 50);
}

.main{

}

.controls {
    margin: 0 auto; 
    text-align: center;
    background-color: #3f51b5;
    border-radius: 0 !important;
    display: flex;
    justify-content: center;
}

.tagline {
    /* max-width: 300px;
    display: inline-block; */
    flex-grow: 3;
    min-width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: gray;
    color: black;
}

.profile-photo {
    border-radius: 50%;
    box-shadow: 0 2px 5px;
    height: 175px;
    width: 175px;
}

@media all and (min-width: 400px) {
    .aside { flex: 1 0 0; }
}

@media all and (min-width: 700px) {
    .main    { flex: 3 0px; }
    .details { order: 1; } 
    .main    { order: 3; }
    .tagline { order: 2; }
    .controls  { order: 4; }
    .main {
        position: absolute;
        right: 50px;
        top: 50px;
    }
    .details {
        max-width: 200px;
    }
  }