.post {
    width: 300px;
    max-height: 300px;
    display: inline-block;
    background-color: rgb(152, 152, 152);
    margin: 5px;
    color: ivory;   
}

.post-header {
    background-color: rgb(114, 114, 114);
}

