.post {
    width: 375px;
    min-height: 320px;
    display: inline-block;
    background-color: rgb(152, 152, 152);
    margin: 5px;
    color: ivory;   
}

.post-header {
    background-color: rgb(114, 114, 114);
}

.media {
    height: 0;
    padding-top: 56.25%; /*16:9, */
    margin-top: 30;
  }

.edit-form {
    width: 375px;
    min-height: 320px;
    padding: 20px 10px;
   
}
